/* URL al filtro SVG */
/* 
backdrop-filter: url(commonfilters.svg#filter);
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}*/
body{
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url("fiesta.jpeg" ) ;
	align-content: center;
	align-items: center;

}
main{
	width :100%;
	padding: 1%;
	margin:auto;
	align-items: center;
	align-content: center;
	 
}
#h1{
	top:290px;
	left: 250px;
}
.contenedor_todo{
	width:100%;
	max-width:4000px;
	 
	top:20%;
	padding: 0% 1%;
    position: absolute;
	align-content: center;
	align-items: center;
	
}
/*editamos caja del fondo*/
.caja_fondo{
	width: 100%;
	padding: 2% 2%;
	display: flex;
	justify-content: center;
	opacity: 0.6;
	background-color:dimgrey; 
	height: 400px;
	transition: all 4s;
}
.caja_fondo div{
	padding: 5% 5%;
	color:azure;
	opacity: 0,9;
	transition: all 2s;
	position:absolute;
	 
}
.caja_fondo_login{
	top:2%;
	position: absolute;
	width: 50%;
	left: 1%;
	transition: left 3s;
}
.caja_fondo_registrar{
	top:2%;
	position: absolute;
	left: 50%;
	transition: left 3s;
	 
}

.caja_fondo button{
	padding: 10px;
	border: 2px solid #FFFF;
	background: transparent;
	font-size: 16px;
	font-weight: 600;
	margin-top: 1%;
	transition: all 0.7s;
}
.caja_fondo input:hover{
	background: #FFFF;
}
.caja_fondo button:hover{
	background: #FFFF;
}
/*Formularios de caja movil*/
.caja_movil {
	width: 50%;
	left: 1%;
	height: 90px;;
	display:flex;
	margin-top:1%;
	padding: 2%;
	position:absolute;
	top:1%;
	transition: left 500ms cubic-bezier(0.175,0.0885,0.320,1.27);

}
.caja_movil form{
	width: 100%;
	position: absolute;
	padding: 5% 5%;
	top:25%;
	
    background: #fff;
	border-radius: 20px;
}
.formulario_registrar{
	width:50%;
	display:none;
}
.formulario_login{
	width: 50%;
	display: block;
}
.caja_movil form h3{
	text-align: center;
	color:dimgrey;
}
.caja_movil form input{
	display: flex;
	width: 100%;
	color:dimgrey;
	border: none;
	font-size: 16px;
	outline: none;
}
.caja_movil form select{
	width: 100%;
	padding:0%;
	border: none;
	padding-top:1%;
	font-size: 16px;
	color:dimgrey;
	 
}
#enviar{
	
	 
	padding: 1%;
 	width: 50%;
	border-radius: 3px;
}
#enviar:hover{
	color: aliceblue;
	background-color: dimgrey;
}
#enviar2{
	padding: 1%;
 	width: 50%;
	border-radius: 3%;
}
#enviar2:hover{
	color: aliceblue;
	background-color: dimgrey;
}
.bad{
background-color: red;
}
.ok{
background-color: greenyellow;
}